<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="audio.css">

    </head>

    <body>


      <div class="wrapper">
        <div class="box A quickSort"><img src="" alt=""><audio controls class ="quickAudio">
          <source src="images/QuickSortPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box B insertionSort"><img src="" alt=""> <audio controls class="insertionAudio" >
          <source src="images/InsertionSortPodcast.mp3" type="audio/mpeg">
          </audio></div>
        <div class="box C bubbleSort"><img src="" alt=""> <audio controls class ="bubbleAudio">
          <source src="images/BubbleSortPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box D selectionSort"><img src="" alt=""><audio controls class="selectionAudio">
          <source src="images/SelectionSortPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box E mergeSort"><img src="" alt="">  <audio controls class="mergeAudio">
          <source src="images/MergeSortPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box F arrayList"><img src="" alt="">  <audio controls class="arrayListAudio">
          <source src="images/arrayListPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box G tries"><img src="" alt="">  <audio controls class="triesAudio">
          <source src="images/triesPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box H Stack"><img src="" alt="">  <audio controls class="stackAudio">
          <source src="images/stackPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box I heapSort"><img src="" alt="">  <audio controls class="heapSortAudio">
          <source src="images/heapSort.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box J Queues"><img src="" alt="">  <audio controls class="QueuesAudio">
          <source src="images/queuePodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box K hashTable"><img src="" alt="">  <audio controls class="hashTableAudio">
          <source src="images/hashTable.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box L doublyLinkedList"><img src="" alt="">  <audio controls class="doublyLinkedListAudio">
          <source src="images/doublyLinkedList.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box M countingSort"><img src="" alt="">  <audio controls class="countingSortAudio">
          <source src="images/MergeSortPodcast.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box N circularLinkedList"><img src="" alt="">  <audio controls class="circularAudio">
          <source src="images/CountingSort.mp3" type="audio/mpeg">
        </audio></div>
        <div class="box O binaryTree"><img src="" alt="">  <audio controls class="binaryAudio">
          <source src="images/binaryTree.mp3" type="audio/mpeg">
        </audio></div>
        
        
        




    </div>


      

    

   


      

        </body>
        </html>