<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="bubbleSort.css">
    </head>


    <body>

        <form id="Numbers"> 
          <p>Put the numbers below to see the magical results</p>
            <label for ="Numbers">Numbers:</label>
            <input type="text" id="NumbersInput" name="NumbersInput">

            <button type= "button" id="Submit">Submit</button>

            <section>
              <p>Bubble Sort Visual</p>
              <img src="images/bubbleSort.png" height="280"/>
              <p>How long it took for Bubble Sort Algorithm to implement?</p>
              <p id="bubbleSortTime"></p>
              <p>Print out Numbers</p>
              <p id="bubbleSortedList"></p>
              </section>

    


        </form>

  



    </body>
    <script src="bubbleSort.js"></script> 

    </html>