<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sorting Algorithm App</title>




  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <header>
  <div class="container">
    <div class="menu">
        <li class="logo"><img src="logo.png">
        <nav>
      <ul>
      <li class="active">Home</li>
      <li><a href="bubbleSort.html" class="bubbleSort"><span class="bubbleSorting">Bubble Sort</span></a></li>
      <li><a href="insertionSort.html" class="insertionSort"><span class="insertionSorting">Insertion Sort</span></a></li>
      <li><a href="mergeSort.html" class="mergeSort"><span class="mergeSorting">Merge Sort</span></a></li>
      <li><a href="quickSort.html" class="quickSort"><span class="quickSorting">Quick Sort</span></a></li>
      <li><a href="selectionSort.html" class="selectionSort"><span class="selectionSorting">Selection Sort</span></a></li>
      <li><a href="audio.html" class="Audio"><span class ="AudioOne">Audio</span></a></li>
      </ul>
    </nav>
    </div>
    </header>
    <div class="banner">
      <div class="App-text">
        <h1>Fun Algos</h1>
        <p>See the magic of many sorting algorithms!</p>
      </div>
      <div class="app-picture">
        <img src="">
      </div>


    </div>


  </div>



</body>
<script src="index.js"></script> 

</html>