<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="insertionSort.css">
    </head>

    <body>

        <form> 
          <p>Put the numbers below to see the magical results</p>
            <label for ="Numbers">Numbers:</label>
            <input type="text" id="NumbersInput" name="NumbersInput">

            <button type= "button" id="Submit">Submit</button>

            <section>
              <img src="images/insertionSort.png" height="280"/>
              <p>How long it took for insertion Sort Algorithm to implement?</p>
              <p id="insertionSortTime"></p>
              <p>Print out Numbers</p>
              <p id="insertionSortedList"></p>
              </section>

    


        </form>

    </body>

  
  <script src="insertionSort.js"></script> 

    </html>

    