body {
    text-align: center;
    color: black;
    font-size: 26px;
    background-color: #DDA0DD;	

   
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    
}

#Submit {
    
    position: relative;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a),radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    
  }

  #insertionSortTime {
      text-align: up;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
}
  