<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


    <link rel="stylesheet" href="mergeSort.css">
    </head>

    <body>

        <form> 
          <p>Put the numbers below to see the magical results</p>
            <label for ="Numbers">Numbers:</label>
            <input type="text" id="NumbersInput" name="NumbersInput">

            <button type= "button" id="Submit">Submit</button>

            <section>
              <img src="images/mergeSort.png" height="250"/>
              <p>How long it took for Merge Sort Algorithm to implement?</p>
              <p id="mergeSortTime"></p>
              <p>Print out Numbers</p>
              <p id="mergeSortedList"></p>
              </section>

    


        </form>

    </body>
    <script src="mergeSort.js"></script> 


    </html>
