<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


    <link rel="stylesheet" href="selectionSort.css">
    </head>

    <body>

        <form> 
          <h4>Put the numbers below to see the magical results</h4>
            <label for ="Numbers">Numbers:</label>
            <input type="text" id="NumbersInput" name="NumbersInput">

            <button type= "button" id="Submit">Submit</button>

            <section>
              <img src="images/selectionSort.png" height="320"/>
              <p> How long it took for Selection Sort Algorithm to implement?</p>
              <p id="selectionSortTime"></p>
              <p>Print out Numbers</p>
              <p id="selectionSortedList"></p>
              </section>

    


        </form>

    </body>
    <script src="selectionSort.js"></script> 


    </html>

    